.navbar-dark #header-wrap.fixed-header {
    background: #28a745 !important;
}

@font-face {
    font-family: "RB";
    src: url("../fonts/RB.ttf") format("truetype");
}

* {

    font-family: "RB";

}
@media only screen and (max-width: 670px) {

.bs{
max-width:70%;
}
.bs img{
    width:80% !important;
}
}
@media (max-width: 991.98px) {

    .site-header.navbar-dark .navbar-nav .nav-link.active,
    .site-header.navbar-dark .navbar-nav .nav-link:focus,
    .site-header.navbar-dark .navbar-nav .nav-link:hover {
        color: #f94f15;
    }
}

#header-wrap {
    background-color: #28a745 !important;
    /* padding: 0px 0;
    position: relative; */
}

#header-wrap.fixed-header {

    /* position: fixed !important; */
    position: absolute !important;
}

.scroll-top a,
.scroll-top a:visited {
    font-size: 24px;
    color: #ffffff;
    background: #28a745;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 10px 55px 5px rgba(137, 173, 255, .15);
    -moz-box-shadow: 0 10px 55px 5px rgba(137, 173, 255, .15);
    box-shadow: 0 10px 55px 5px rgba(137, 173, 255, .15);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.scroll-top a:hover,
.scroll-top a:focus {
    color: #28a745;
    background: #ffffff;
}

.btn-color:hover {
    background-color: #28a745;
    color: #ffffff;
}

.lead {
    font-size: 1.15rem;
    font-weight: 300;
    margin-top: 50px;
    text-align: justify;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: #28a745;
    color: #000;
}

.page-item a.page-link:hover {
    color: #ffffff !important;
    background-color: #28a745;
    border-color: #28a745;
}

.page-link {
    color: #28a745;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #28a745;
}

.position-absolute {
    position: relative !important;
}